# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
altair
statsmodels
apache-airflow
apache-airflow-providers-postgres
apache-airflow-providers-http
apache-airflow-providers-google
numpy
pandas
matplotlib
psycopg2-binary
requests
beautifulsoup4
sqlalchemy
